.about .bSpan {
  color: #9fc91b;
  font-size: 1.75rem;
  font-weight: 800;
}
@media screen and (max-width: 1027px) {
  .about .bSpan {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about .bSpan {
    font-size: 1.25rem;
  }
}
.about .blockTitle {
  font-size: 3.375rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 4%;
}
@media screen and (max-width: 1027px) {
  .about .blockTitle {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about .blockTitle {
    font-size: 1.625rem;
    margin-bottom: 20px;
  }
}
.about .subTitle {
  margin-bottom: 20px;
  font-size: 1.75rem;
  font-weight: 800;
  color: #9fc91b;
}
@media screen and (max-width: 1027px) {
  .about .subTitle {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about .subTitle {
    font-size: 1.25rem;
  }
}
.about .description {
  color: #333333;
  font-size: 1.125rem;
}
@media screen and (max-width: 767px) {
  .about .description {
    font-size: 1rem;
  }
}
.about .block1 {
  margin-bottom: 5%;
}
.about .block2 {
  background: #efefef;
  padding: 4% 0;
}
.about .block2 .listBox {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 3%;
}
.about .block3 {
  padding: 5% 0;
  position: relative;
}
@media screen and (max-width: 1027px) {
  .about .block3 {
    padding: 5% 0 50px;
  }
}
.about .block3 .bg {
  content: 'MISSION';
  position: absolute;
  font-size: 17.5rem;
  font-weight: 600;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  line-height: 1;
  text-shadow: -1px -1px 0 #e7e7e7, 1px -1px 0 #e7e7e7, -1px 1px 0 #e7e7e7, 1px 1px 0 #e7e7e7;
}
@media screen and (max-width: 1400px) {
  .about .block3 .bg {
    font-size: 12.5rem;
  }
}
@media screen and (max-width: 1027px) {
  .about .block3 .bg {
    font-size: 9.375rem;
  }
}
@media screen and (max-width: 767px) {
  .about .block3 .bg {
    font-size: 6.25rem;
  }
}
@media screen and (max-width: 575px) {
  .about .block3 .bg {
    font-size: 3.125rem;
  }
}
.about .block3 .blockTitle {
  margin-bottom: 10px;
}
.about .block3 .description {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 500;
}
@media screen and (max-width: 1027px) {
  .about .block3 .description {
    font-size: 1.25rem;
  }
}
.about .block4 {
  position: relative;
}
@media screen and (max-width: 1027px) {
  .about .block4 {
    padding: 0 0 50px;
  }
}
.about .block4 .blockTitle {
  margin-bottom: 20px;
}
@media screen and (max-width: 1027px) {
  .about .block4 .blockTitle {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .about .block4 .blockTitle {
    margin-bottom: 10px;
  }
}
.about .block4 .box {
  background: linear-gradient(to bottom, rgb(250, 250, 250) 0%, rgba(250, 250, 250, 0) 100%);
  width: 100%;
  padding: 50px 50px 0;
}
@media screen and (max-width: 1027px) {
  .about .block4 .box {
    padding: 20px 30px 0;
  }
}
.about .block4 .box .pic {
  max-width: 1150px;
  margin: 0 auto;
}
.about .block5 {
  padding: 5% 0;
}
@media screen and (max-width: 1027px) {
  .about .block5 {
    padding: 5px 0 50px;
  }
}
.about .block5 .listBox {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 1027px) {
  .about .block5 .listBox {
    gap: 20px;
  }
}
.about .block5 .listBox .item {
  width: 100%;
  padding: 30px;
  background: #efefef;
}
@media screen and (min-width: 1028px) {
  .about .block5 .listBox .item {
    padding: 4.5% 5%;
    width: calc((100% - 60px) / 3);
  }
}
.about .block5 .listBox .item .title {
  color: #9fc91b;
  font-size: 1.75rem;
  font-weight: 800;
  margin-bottom: 20px;
}
@media screen and (max-width: 1027px) {
  .about .block5 .listBox .item .title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .about .block5 .listBox .item .title {
    font-size: 1.25rem;
  }
}
.about .block6 {
  background: #fafafa;
  padding: 4% 0 5%;
}
.about .block6 .blockTitle {
  margin-bottom: 4%;
}
.about .block6 .content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.about .block6 .listBox {
  width: 100%;
  max-width: 680px;
}
.about .block6 .listBox .item {
  width: 100%;
}
@media screen and (min-width: 1028px) {
  .about .block6 .listBox .item {
    cursor: pointer;
  }
}
.about .block6 .listBox .item .title {
  color: #9fc91b;
  font-size: 1.75rem;
  font-weight: 800;
}
@media screen and (max-width: 1027px) {
  .about .block6 .listBox .item .title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
@media screen and (max-width: 767px) {
  .about .block6 .listBox .item .title {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1027px) {
  .about .block6 .listBox .item .con {
    display: none;
  }
}
@media screen and (min-width: 1028px) {
  .about .block6 .listBox .item .con .picBox {
    display: none;
  }
}
.about .block6 .listBox .item + .item {
  margin-top: 5%;
  padding-top: 5%;
  border-top: #cfd0d1 1px solid;
}
.about .block6 .tabBox {
  width: 45%;
}
@media screen and (max-width: 1027px) {
  .about .block6 .tabBox {
    display: none;
  }
}
.about .block6 .tabBox .picBox {
  display: none;
}
.about .block6 .tabBox .picBox.active {
  display: block;
}
.about .block6 .tabBox .picBox .title {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background: #9fc91b;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding: 15px 30px;
  line-height: 1;
}
.about .block6 .slick-dots {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  bottom: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1027px) {
  .about .block6 .slick-dots {
    right: 20px;
    bottom: 20px;
  }
}
.about .block6 .slick-dots button {
  background: #fff;
  opacity: 0.7;
  color: transparent;
  width: 13px;
  height: 13px;
  padding: 0;
  border-radius: 50%;
}
.about .block6 .slick-dots li {
  margin: 0 12px;
  width: 13px;
  height: 13px;
}
@media screen and (max-width: 1027px) {
  .about .block6 .slick-dots li {
    margin: 0 5px;
  }
}
.about .block6 .slick-dots .slick-active button {
  opacity: 1;
  background: #9fc91b;
}
.about .block7 {
  padding: 4% 0 0;
}
.about .block7 .blockTitle {
  margin-bottom: 4%;
}
.about .block7 .content {
  text-align: center;
  padding-bottom: 30px;
  overflow-x: auto;
  scrollbar-color: #9fc91b rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  background: #fff;
}
.about .block7 .content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.about .block7 .content::-webkit-scrollbar-thumb {
  border-radius: 100px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #9fc91b;
}
.about .block7 .content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.about .block7 .top {
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  padding: 20px;
  font-weight: 600;
  background: #9fc91b;
  margin: 0 auto 30px;
  position: relative;
}
.about .block7 .top::after {
  content: '';
  width: 1px;
  height: 30px;
  display: block;
  background: #dddddd;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.about .block7 .listBox {
  width: 1440px;
  display: flex;
  align-items: flex-start;
}
.about .block7 .listBox > li {
  width: 12.5%;
  line-height: 1.4;
  padding-top: 30px;
  position: relative;
}
.about .block7 .listBox > li:first-child::before {
  left: 50%;
}
.about .block7 .listBox > li:last-child::before {
  right: 50%;
  left: auto;
}
.about .block7 .listBox > li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  background: #dddddd;
}
.about .block7 .listBox > li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: #dddddd;
}
.about .block7 .listBox > li .sec {
  text-align: center;
  height: 100px;
  background: #b4b4b4;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 12px;
  padding: 10px;
  font-weight: 600;
  position: relative;
  z-index: 9;
}
.about .block7 .listBox > li ul {
  padding: 30px 0 0;
  display: flex;
  flex-direction: column;
}
.about .block7 .listBox > li li {
  width: auto;
  margin: 0 12px;
  padding: 5px 0 5px 30px;
  position: relative;
}
.about .block7 .listBox > li li::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #dddddd;
}
.about .block7 .listBox > li li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 130%;
  left: 10px;
  bottom: 50%;
  background: #dddddd;
}
.about .block7 .listBox > li li .thi {
  text-align: left;
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 10px;
  color: #333333;
  border: #dddddd 1px solid;
  background: none;
}

.about2 .bSpan {
  color: #9fc91b;
  font-size: 1.75rem;
  font-weight: 800;
}
@media screen and (max-width: 1027px) {
  .about2 .bSpan {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about2 .bSpan {
    font-size: 1.25rem;
  }
}
.about2 .blockTitle {
  font-size: 3.375rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 4%;
}
@media screen and (max-width: 1027px) {
  .about2 .blockTitle {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about2 .blockTitle {
    font-size: 1.625rem;
    margin-bottom: 20px;
  }
}
.about2 .subTitle {
  margin-bottom: 20px;
  font-size: 1.75rem;
  font-weight: 800;
  color: #9fc91b;
}
@media screen and (max-width: 1027px) {
  .about2 .subTitle {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about2 .subTitle {
    font-size: 1.25rem;
  }
}
.about2 .description {
  color: #333333;
  font-size: 1.125rem;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .about2 .description {
    font-size: 1rem;
  }
}
.about2 .description ul li {
  position: relative;
  padding-left: 20px;
}
.about2 .description ul li::before {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #9fc91b;
  position: absolute;
  top: 8px;
  left: 0;
}
.about2 .description ul li + li {
  margin-top: 15px;
}
.about2 .block1 {
  padding: 0 0 5%;
  position: relative;
}
@media screen and (max-width: 1027px) {
  .about2 .block1 {
    padding: 0 0 50px;
  }
}
.about2 .block2 {
  padding: 0 0 5%;
  position: relative;
}
@media screen and (max-width: 1027px) {
  .about2 .block2 {
    padding: 0 0 50px;
  }
}
.about2 .block2 .listBox {
  margin-bottom: 3%;
}
@media screen and (min-width: 768px) {
  .about2 .block2 .listBox {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}
.about2 .block2 .listBox .item {
  background: #fafafa;
}
@media screen and (min-width: 768px) {
  .about2 .block2 .listBox .item {
    max-width: 673px;
    width: calc((100% - 20px) / 2);
  }
}
.about2 .block2 .listBox .item .info {
  padding: 10%;
}
.about2 .block2 .listBox .item .title {
  color: #9fc91b;
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 1.75rem;
  line-height: 1.4;
}
@media screen and (max-width: 1027px) {
  .about2 .block2 .listBox .item .title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about2 .block2 .listBox .item .title {
    font-size: 1.25rem;
  }
}
.about2 .block2 .listBox .item .secTitle {
  color: #000;
  font-weight: 800;
  font-size: 1.3125rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .about2 .block2 .listBox .item .secTitle {
    font-size: 1.125rem;
  }
}
.about2 .block3 {
  padding: 0 0 5%;
  position: relative;
}
@media screen and (max-width: 1027px) {
  .about2 .block3 {
    padding: 0 0 50px;
  }
}
.about2 .block3 .blockTitle {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 25px;
}
@media screen and (max-width: 1440px) {
  .about2 .block3 .blockTitle {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 1027px) {
  .about2 .block3 .blockTitle {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about2 .block3 .blockTitle {
    margin-bottom: 10px;
  }
}
.about2 .block3 .listBox .item + .item {
  padding-top: 45px;
  margin-top: 45px;
  border-top: #cfd0d1 1px solid;
}
.about2 .block3 .listBox .title {
  color: #000;
  font-weight: 800;
  font-size: 1.3125rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .about2 .block3 .listBox .title {
    font-size: 1.125rem;
  }
}
.about2 .block4 {
  background: linear-gradient(to bottom, rgb(250, 250, 250) 0%, rgb(255, 255, 255) 100%);
  padding: 5% 0;
}
@media screen and (max-width: 1027px) {
  .about2 .block4 {
    padding: 50px 0 50px;
  }
}
.about2 .block4 .title {
  color: #9fc91b;
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 1.75rem;
  line-height: 1.4;
}
@media screen and (max-width: 1027px) {
  .about2 .block4 .title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about2 .block4 .title {
    font-size: 1.25rem;
  }
}
.about2 .block4 .description {
  margin-bottom: 3%;
}
@media screen and (max-width: 767px) {
  .about2 .block4 .description {
    margin-bottom: 30px;
  }
}
.about2 .block5 .content {
  border: #eeeeee 8px solid;
  padding: 3% 30px;
}
@media screen and (max-width: 767px) {
  .about2 .block5 .content {
    padding: 40px 30px;
  }
}
.about2 .block5 .infoBox {
  max-width: 900px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about2 .block5 .infoBox {
    display: flex;
    align-items: center;
  }
}
.about2 .block5 .info {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about2 .block5 .info {
    width: 50%;
    max-width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .about2 .block5 .info {
    text-align: center;
  }
}
.about2 .block5 .info .title {
  color: #9fc91b;
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 1.75rem;
  line-height: 1.4;
}
@media screen and (max-width: 1027px) {
  .about2 .block5 .info .title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about2 .block5 .info .title {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .about2 .block5 .picBox {
    width: 50%;
  }
}
.about2 .block5 .picBox .st0 {
  font-size: 28px;
  text-align: center;
  font-weight: 800;
}
.about2 .block5 .picBox .st2 {
  fill: #9fc91b;
}
.about2 .block5 .picBox .font {
  fill: #ffffff;
  font-size: 26px;
  font-weight: 800;
  opacity: 0;
}
.about2 .block5 .picBox .svgTitle {
  opacity: 0;
}
.about2 .block5.active .svgTitle {
  animation: move 1s ease 1s 1 normal forwards;
}
.about2 .block5.active .p1 {
  animation: move 1s ease 2s 1 normal forwards;
}
.about2 .block5.active .p2 {
  animation: move 1s ease 3s 1 normal forwards;
}
.about2 .block5.active .p3 {
  animation: move 1s ease 4s 1 normal forwards;
}
.about2 .block5.active .p4 {
  animation: move 1s ease 5s 1 normal forwards;
}
@keyframes move {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} /*# sourceMappingURL=about.css.map */
